@inherits LayoutComponentBase

<div class="page" style="background-color: #374248">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style="background-color: black ">
            <a href="https://learn.microsoft.com/aspnet/core/" style="color: #188DE2" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
